<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ulisboa.tecnico.meic.sirs.smartrestaurant">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Main">
        <activity android:name="pt.ulisboa.tecnico.meic.sirs.smartrestaurant.ui.menu.MenuListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pt.ulisboa.tecnico.meic.sirs.smartrestaurant.ui.menu.MenuItemDetailActivity"
            android:label=""
            android:parentActivityName="pt.ulisboa.tecnico.meic.sirs.smartrestaurant.ui.menu.MenuListActivity" />
        <activity
            android:name="pt.ulisboa.tecnico.meic.sirs.smartrestaurant.ui.ViewSamplesActivity"
            android:label="Samples"
            android:parentActivityName="pt.ulisboa.tecnico.meic.sirs.smartrestaurant.ui.menu.MenuListActivity" />
        <activity
            android:name="pt.ulisboa.tecnico.meic.sirs.smartrestaurant.ui.SettingsActivity"
            android:label="Settings"
            android:parentActivityName="pt.ulisboa.tecnico.meic.sirs.smartrestaurant.ui.menu.MenuListActivity" />
        <activity
            android:name="pt.ulisboa.tecnico.meic.sirs.smartrestaurant.ui.menu.OrderListActivity"
            android:label="My Order"
            android:parentActivityName="pt.ulisboa.tecnico.meic.sirs.smartrestaurant.ui.menu.MenuListActivity" />
        <activity
            android:name="pt.ulisboa.tecnico.meic.sirs.smartrestaurant.ui.menu.PaymentActivity"
            android:label="Checkout"
            android:parentActivityName="pt.ulisboa.tecnico.meic.sirs.smartrestaurant.ui.menu.OrderListActivity" />
    </application>

</manifest>