{% extends "base.html" %}

{% block content %}

	<div class="login-page">
        <div class="form">
            <form action="/login/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button><input type="submit" value="Submit" /></button>
            </form>
            {% if not active %}
                <p>This user is not active please contact support admin@smartrestaurant.com</p>
            {% endif %}
            {% if invalid %}
                <p>Invalid login credentials</p>
            {% endif %}
        </div>
    </div>


{% endblock %}